<a href="https://colab.research.google.com/github/Lucas-Tramarin/Curso-Python/blob/main/06_12_25B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for n1 in [8,7,17,25,38]:
  print(n1)

8
7
17
25
38

In [ ]:
seq = [3,57,67,22,8]
for n2 in seq:
  print(n2)

3
57
67
22
8

In [ ]:
seq = "geeks"
for n2 in seq:
  print(n2)

g
e
e
k
s

In [ ]:
for numero in range(1000000):
  print(numero)
  if numero == 4:
    break
print("Até mais")

0
1
2
3
4
Até mais

In [ ]:
lista = [12, True, "teste", 43.6]
len(lista)
for i in range(len(lista)):
  print(i)

0
1
2
3

In [ ]:
lista = [12, True, "teste", 43.6]
len(lista)
for i in lista:
  print(i)

12
True
teste
43.6

In [ ]:
lista = [12, True, "teste", 43.6]

for i in range(len(lista)):
  print(lista[i])

12
True
teste
43.6

In [ ]:
lista = ["um","dois","três","quatro","cinco","seis"]
for i in range(1):
  print(lista[i])

um

In [ ]:
lista = ["um","dois","três","quatro","cinco","seis"]
for i in range(1,4):
  print(lista[i])

dois
três
quatro

In [ ]:
lista = ["um","dois","três","quatro","cinco","seis"]
for i in range(1,6,2):
  print(lista[i])

dois
quatro
seis

In [ ]:
for x in [1,10,20,30,40,50]:
  if x == 30:
    continue
  print(x)

1
10
20
40
50

In [ ]:
inicio = int(input("Informe o primeiro número: "))
fim = int(input("Informe o número final: "))
salto = int(input("Informe o salto: "))
texto = "Cálculo: "
soma = 0
for numero in range(inicio, fim, salto):
  soma = soma + numero
  texto = texto + str(numero)
  if numero > 50:
    texto = texto + " Passou de 50"
    break
  if numero != fim - 1:
    texto = texto + " + "
print(f"{texto}")
print(f"Soma: {soma}")

Informe o primeiro número: 2
Informe o número final: 87
Informe o salto: 9
Cálculo: 2 + 11 + 20 + 29 + 38 + 47 + 56 Passou de 50
Soma: 203

In [ ]:
for pares in range(2,102,2):
  print(pares)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
clientes = int(input("Digite a quantidade de clientes: "))
for i in range(clientes):
  temp = float(input("Digite a temperatura: "))
  if temp < 37.2:
    print("Temperatura normal")
  elif 37.3 <= temp < 38:
    print("Estado febril")
  elif 38 <= temp < 39:
    print("Com febre")
  else:
    print("com febre alta")

Digite a quantidade de clientes: 1
Digite a temperatura: 40
com febre alta