<a href="https://colab.research.google.com/github/petercloud23/TurmaProgramacaoPython_B75/blob/main/ProgramacaoEmPython_slide2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Para um melhor aproveitamento de seus estudos, desabilite a 'Assistência de IA' nas Configurações do Colab
*************************************

Seção Vamos para a Prática

In [ ]:
'''O método de swap método funciona para qualquer tipo de dado e linguagem de programação.
Declare uma variável temporária (aux): Copie o valor de uma das variáveis (por exemplo, x) para a variável aux.
Copie o valor da segunda para a primeira: Atribua o valor de y a x.
Atribua o valor temporário: Copie o valor de aux para y.
Exemplo (pseudocódigo):
aux = a
a = b
b = aux'''

#Exemplo com valores:

a = input("Digite o valor de a: ")
b = input("Digite o valor de b: ")
print("A variável a é igual a: ", a)
print("A variável b é igual b: ", b)

In [ ]:
aux = a
a = b
b = aux
print("A variável a é igual a:", a)
print("A variável b é igual a:", b)

In [ ]:
'''O Python permite a troca de valores em uma única linha de código, simplificando o processo. Use atribuição múltipla:
Atribua diretamente os valores de b para a e de a para b. Exemplo (Python): a, b = b, a'''
a = 17
b = 4
a, b = b, a
print("A variável a é igual a:", a)
print("A variável b é igual a:", b)

In [ ]:
#Podemos, assim, atribuir valor a muitas variáveis por vez:
var1,var2,var3 = "Oi","Tudo bem?","Como vai"
print(var1)
print(var2)
print(var3)

In [ ]:
'''Em Python você pode atribuir valores a quantas variáveis quiser em uma única linha, separando as variáveis e os valores por vírgulas,como no exemplo anterior.
Não há um limite rígido imposto pela linguagem Python em si para a quantidade de variáveis que você pode atribuir em uma única linha dessa forma.
No entanto, por questões de legibilidade e boas práticas de código, é recomendável não colocar um número excessivo de variáveis em uma única linha,
pois isso pode tornar o código difícil de ler e entender. O ideal é usar essa funcionalidade para um número razoável de variáveis, onde isso melhora a clareza do código.'''

Seção de Conteúdo do Slide

In [ ]:
var1= 123
var2= 'World'

In [ ]:
print("Hello to the",var2,var1)

In [ ]:
print("Hello to the %s %d " %(var2,var1)) #%s é um marcador de posição para uma string (texto). %d é um marcador de posição para um número inteiro.

In [ ]:
print("Hello to the {} {}" .format(var2,var1))

In [ ]:
print("Hello to the " + var2 + " " + str(var1)) #Aqui precisamos acrescentar o espaço com " " e converter o inteiro em str, pois concatena-se com '+' somente strings.

In [ ]:
print(f"Hello to the {var2} {var1}")

Exercício Proposto "Escreva um Código que"

In [2]:
#Dadas as notas das provas P1, P2 e P3, calcular a média (aritmética) das notas do aluno:

P1 = float(input("Digite a nota da prova 1: "))
P2 = float(input("Digite a nota da prova 2: "))
P3 = float(input("Digite a nota da prova 3: "))

media = (P1 + P2 + P3) / 3
media_arred = round(media,2)

print(media)
print(f"A média das notas é: {media_arred}")

Digite a nota da prova 1: 10
Digite a nota da prova 2: 5
Digite a nota da prova 3: 9.5
8.166666666666666
A média das notas é: 8.17

In [4]:
#Escreva um código que calcule a hipotenusa de um triângulo retângulo, cujos catetos são a = 4 e b = 3.
cateto_a = 4
cateto_b = 3
c = (cateto_a ** 2 + cateto_b ** 2) ** (1/2)
print(f"A hipotenusa do triângulo é: {c}")

A hipotenusa do triângulo é: 5.0

In [5]:
#Versão do exercício acima usando o método sqrt da biblioteca math:
import math

cateto_a = 4
cateto_b = 3
c = math.sqrt(cateto_a ** 2 + cateto_b ** 2)
print(f"A hipotenusa do triângulo é: {c}")

A hipotenusa do triângulo é: 5.0

In [6]:
cateto_a = 4
cateto_b = 3
c = pow(cateto_a ** 2 + cateto_b ** 2,0.5)
print(f"A hipotenusa do triângulo é: {c}")

A hipotenusa do triângulo é: 5.0

In [7]:
'''Solicite ao usuário o valor do salário atual (numérico com
decimais), em seguida, solicite o percentual de aumento
 (numérico com decimais) e imprima o valor do salário atualizado'''

salario = float(input("Digite o valor do salário atual: "))
percentual_aumento = float(input("Digite o percentual de aumento: "))
aumento = salario * (percentual_aumento / 100)
novo_salario = salario + aumento
print(f"O valor do salário atualizado é: {novo_salario}")

Digite o valor do salário atual: 20000
Digite o percentual de aumento: 10.5
O valor do salário atualizado é: 22100.0

In [8]:
'''Crie um programa e declare uma constante PI
(use 2 casas após a vírgula). Dados o raio e a
altura, calcular e apresentar o valor do volume de
 uma lata de óleo,
utilizando a fórmula: volume = PI * r 2 * altura'''

PI = 3.14
raio = float(input("Digite o raio da lata de óleo: "))
altura = float(input("Digite a altura da lata de óleo: "))
volume = PI * raio ** 2 * altura
print(f"O volume da lata de óleo é: {volume}")

Digite o raio da lata de óleo: 10
Digite a altura da lata de óleo: 45
O volume da lata de óleo é: 14130.0

Seção DESAFIOS BÔNUS (ÁRVORE DE NATAL)

In [9]:
'''Faça um programa que desenhe uma árvore de natal, Use o comando print e multiplicação de strings para multiplicar os espaços em branco e os asteriscos'''
print(" " * 9 + "*" * 1)
print(" " * 8 + "*" * 3)
print(" " * 7 + "*" * 5)
print(" " * 6 + "*" * 7)
print(" " * 5 + "*" * 9)
print(" " * 4 + "*" * 11)
print(" " * 3 + "*" * 13)
print(" " * 2 + "*" * 15)
print(" " * 1 + "*" * 17)
print(" " * 0 + "*" * 19)
print(" " * 8 + "*" * 3) # Tronco linha 1
print(" " * 8 + "*" * 3) # Tronco linha 2
print(" " * 8 + "*" * 3) # Tronco linha 3

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
        ***
        ***
        ***

In [10]:
print("escrevi e agora pula linha usando o \\n")

escrevi e agora pula linha usando o \n